<div class="page-header">
  <%= link_to feeds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Back
  <% end %>
  <h1><%= @feed %> &middot; Current Events</h1>
</div>
<div class="grid">
  <% @feed_items.each do |item| %>
    <div class="grid-item box-content">
      <h3><%= item.title %></h3>
      <p> <%= item.pub %></p>
      <p> <%= image_tag item.image, target: "_blank" %></p>
      <p> <%= item.summary.html_safe %></p>
      <p><%= link_to "Read More", item.url, target: "_blank", class: 'btn btn-primary' %></p>
    </div>
   <% end %>
</div>
<div class="btn-section">
<%= link_to feeds_path, class: 'btn btn-default pull-right' do %>
  <span class="glyphicon glyphicon-chevron-left"></span>
  Back
<% end %>
</div>
