<div class="page-header">
  <%= link_to feeds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Current Events</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <% @feed.each do |f| %>
       <div class="col-md-4">
         <h3><%= link_to f.title, f.url %></h3>
         <p><%= f.image %></p>
         <p><%= f.published %></p>
         <p><%= f.content.html_safe %></p>
       </div>
    <% end %>
  </div>
</div>
