<div class="page-header">
  <%= link_to feeds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show feed</h1>
</div>

<div class="container">

<% @feed.each do |f| %>
   <h3><%= link_to f.title, f.url %></h3>
   <p><%= f.image %></p>
   <p><%= f.published %></p>
   <p><%= f.summary %></p>
<% end %>

</div>
