<div class="page-header">
  <%= link_to edit_user_registration_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%= link_to feeds_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3>Details</h3>
  <p>Name: <%= @user.first_name if @user.first_name %></p>
  <p>Email: <%= @user.email if @user.email %></p>

  <h3>Sources</h3>
  <ul class="list-group">
  <% @user.feeds.each do |feed| %>
    <li class="list-group-item">
      <%= feed.feed_name %>
    </li>
  <% end %>
  </ul>
</div>

